

<div class="row mt-5">
  <div class="col-lg-9">
    <div class="wrapper wrapper-content animated fadeInUp">
      <div class="ibox">
        <div class="ibox-content card p-4 shadow">
          <div class="row">
            <div class="col-lg-12">
              <div class="m-b-md">
                <h2><%= current_user.role.titleize %> Profile</h2>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <dl class="row mb-0">
                <div class="col-sm-4 text-sm-right"><dt>First Name:</dt></div>
                <div class="col-sm-8 text-sm-left">
                  <dd class="mb-1"><%= @user.first_name %></dd>
                </div>
              </dl>
              <dl class="row mb-0">
                <div class="col-sm-4 text-sm-right"><dt>Last Name:</dt></div>
                <div class="col-sm-8 text-sm-left">
                  <dd class="mb-1"><%= @user.last_name %></dd>
                </div>
              </dl>
              <dl class="row mb-0">
                <div class="col-sm-4 text-sm-right"><dt>Email:</dt></div>
                <div class="col-sm-8 text-sm-left">
                  <dd class="mb-1"><%= @user.email %></dd>
                </div>
              </dl>
              <% if current_user.role == 'Student' %>
                <dl class="row mb-0">
                  <div class="col-sm-4 text-sm-right"><dt>Enrollment Number:</dt></div>
                  <div class="col-sm-8 text-sm-left">
                    <dd class="mb-1"><%= @user.roll_no %></dd>
                  </div>
                </dl>
                <dl class="row mb-0">
                  <div class="col-sm-4 text-sm-right"><dt>Qualification:</dt></div>
                  <div class="col-sm-8 text-sm-left">
                    <dd class="mb-1"><%= @user.qualification %></dd>
                  </div>
                </dl>
              <% end %>
            </div>

            <div class="col-lg-6">
              <dl class="row mb-0">
                <div class="col-sm-4 text-sm-right"><dt>Phone Number:</dt></div>
                <div class="col-sm-8 text-sm-left">
                  <dd class="mb-1"><%= @user.phone_number %></dd>
                </div>
              </dl>
              <dl class="row mb-0">
                <div class="col-sm-4 text-sm-right"><dt>Date of Birth:</dt></div>
                <div class="col-sm-8 text-sm-left">
                  <dd class="mb-1"><%= @user.date_of_birth %></dd>
                </div>
              </dl>
              <dl class="row mb-0">
                <div class="col-sm-4 text-sm-right"><dt>Gender:</dt></div>
                <div class="col-sm-8 text-sm-left">
                  <dd class="mb-1"><%= @user.gender %></dd>
                </div>
              </dl>
                <dl class="row mb-0">
                <div class="col-sm-4 text-sm-right"><dt>Address:</dt></div>
                <div class="col-sm-8 text-sm-left">
                  <dd class="mb-1"><%= @user.address %></dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="wrapper wrapper-content project-manager">
      <h4>Profile Actions</h4>
      <div class="text-center m-t-md">
        <div class="row">
          <div class="col-lg-12">
            <%= link_to profiles_show_path(@user), class: "btn btn-block btn-primary m-b-sm" do %>
              <i class="fa fa-edit"></i> Edit Profile
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
