<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mb-4">Apply For Early Leave</h2>

      <%= form_with(model: @leave, local: true, html: { class: "card p-4 shadow" }) do |f| %>

        <% if current_user.role == 'SuperAdmin' %>
          <div class="mb-3">
            <%= f.label :student_id, "Select Student by Email", class: "form-label" %>
            <%= f.select :student_id, @students.map { |obj| [obj.email, obj.id] },
              { prompt: 'Select Student by email...' },
              { class: 'form-control', aria: { label: 'Select Student' } } %>
          </div>
        <% else %>
          <%= f.hidden_field :request_id, value: current_user.id %>
        <% end %>

        <div class="mb-3">
          <%= f.label :approval_id, "Approval By", class: "form-label" %>
          <%= f.select :approval_id, Teacher.all.map { |t| [t.email, t.id] }, class: "form-select" %>
        </div>

        <div class="mb-3">
          <%= f.label :transport, "Transport", class: "form-label" %>
          <%= f.select :transport, LeaveRequest.transports.map { |key, value| [key.to_s.titleize, key] }, class: "form-select" %>
        </div>

        <div class="mb-3">
          <%= f.label :reason, "Reason for Leave", class: "form-label" %>
          <%= f.text_area :reason, class: "form-control", rows: 3 %>
        </div>

        <%=f.hidden_field :form_date, value: Date.today%>
        <%=f.hidden_field :to_date, value: Date.today%>
        <%=f.hidden_field :leave_type, value: :half_day%>
        <%=f.hidden_field :apply_early_leave, value: 'true'%>


        <div class="text-center">
          <%= f.submit "Submit Leave Request", class: "btn btn-primary w-100  m-b" %>
        </div>
        <div class="text-center mt-2">
          <%=link_to "Cancel",leave_requests_path, class: "btn btn-danger block w-100 ",  aria: { label: 'Cancel' }  %>
        </div>
      <% end %>
    </div>
  </div>
</div>
