<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mb-4">Apply Leave</h2>

      <%= form_with(model: @leave, local: true, html: { class: "card p-4 shadow" }) do |f| %>
        
        <% if current_user.role == 'SuperAdmin' %>
          <div class="mb-3">
            <%= f.label :student_id, "Select Student by Email", class: "form-label" %>
            <%= f.select :student_id, @students.map { |obj| [obj.email, obj.id] },
              { prompt: 'Select Student by email...' },
              { class: 'form-control', aria: { label: 'Select Student' } } %>
          </div>
        <% else %>
          <%= f.hidden_field :request_id, value: current_user.id %>
        <% end %>

        <div class="mb-3">
          <%= f.label :form_date, "From Date", class: "form-label" %>
          <%= f.date_field :form_date, min: Date.today, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :to_date, "To Date", class: "form-label" %>
          <%= f.date_field :to_date, min: Date.today, class: "form-control" %>
        </div>

        <div class= "mb-3">
          <%= f.label :leave_type, "Leave Type", class: "for,=label"%>
          <%= f.select :leave_type, LeaveRequest.leave_types.map {|key, value| key}, class: "form-select"%>
        </div>

        <%if current_user.role == 'Teacher'%>
             <div class="mb-3">
            <%= f.label :approval_id, "Approval By", class: "form-label" %>
            <%= f.select :approval_id, SuperAdmin.all.map { |t| [t.email, t.id] }, class: "form-select" %>
          </div>

        <%else%>
          <div class="mb-3">
            <%= f.label :approval_id, "Approval By", class: "form-label" %>
            <%= f.select :approval_id, Teacher.all.map { |t| [t.email, t.id] }, class: "form-select" %>
          </div>
        <%end%>

        <div class="mb-3">
          <%= f.label :reason, "Reason for Leave", class: "form-label" %>
          <%= f.text_area :reason, class: "form-control", rows: 3 %>
        </div>

        <div class="text-center">
          <%= f.submit "Submit Leave Request", class: "btn btn-primary w-100  m-b" %>
        </div>
        <div class="text-center mt-2">
          <%=link_to "Cancel",leave_requests_path, class: "btn btn-danger block w-100 ",  aria: { label: 'Cancel' }  %>
        </div>
      <% end %>
    </div>
  </div>
</div>
