
 <div class="container mt-4" >
<div class="row">
  <div class="col-md-3">
    <div class="ibox" style="background-color: white; border-radius: 5px; box-shadow: 0 2px 10px rgba(0,0,0,0.1);">
      <div class="ibox-title d-flex justify-content-between align-items-center">
        <h5 class="m-0">Total Leaves</h5>
        <div class="ibox-tools">
          <span class="badge bg-primary float-end">Total</span>
        </div>
      </div>
      <div class="ibox-content">
        <h1 class="no-margins"><%= @total_leaves %></h1>
      </div>
    </div>
  </div>
    <div class="col-md-3">
    <div class="ibox" style="background-color: white; border-radius: 5px; box-shadow: 0 2px 10px rgba(0,0,0,0.1);">
      <div class="ibox-title d-flex justify-content-between align-items-center">
        <h5 class="m-0">Total Approved Leaves</h5>
        <div class="ibox-tools">
          <span class="badge bg-success float-end">Total</span>
        </div>
      </div>
      <div class="ibox-content">
        <h1 class="no-margins"><%= @total_approved_leaves %></h1>
      </div>
    </div>
  </div>
    <div class="col-md-3">
    <div class="ibox" style="background-color: white; border-radius: 5px; box-shadow: 0 2px 10px rgba(0,0,0,0.1);">
      <div class="ibox-title d-flex justify-content-between align-items-center">
        <h5 class="m-0">Total Pending Leaves</h5>
        <div class="ibox-tools">
          <span class="badge bg-warning float-end">Total</span>
        </div>
      </div>
      <div class="ibox-content">
        <h1 class="no-margins"><%= @total_pending_leaves %></h1>
      </div>
    </div>
  </div>
    <div class="col-md-3">
    <div class="ibox" style="background-color: white; border-radius: 5px; box-shadow: 0 2px 10px rgba(0,0,0,0.1);">
      <div class="ibox-title d-flex justify-content-between align-items-center">
        <h5 class="m-0">Total Cancelled Leaves</h5>
        <div class="ibox-tools">
          <span class="badge bg-danger float-end">Total</span>
        </div>
      </div>
      <div class="ibox-content">
        <h1 class="no-margins"><%= @total_cancelled_leaves %></h1>
      </div>
    </div>
  </div>
</div>
 <% if flash[:error].present? %>
      <p class='flash-error'><%= flash[:error] %></p>
    <% end %>
    <% if flash[:success].present? %>
      <p class='flash-success'><%= flash[:success] %></p>
    <% end %>



<div class="row mt-5">
  <div class="col-lg-9">
    <div class="wrapper wrapper-content animated fadeInUp">
      <div class="ibox">
        <div class="ibox-content card p-4 shadow">
          <div class="row">
            <div class="col-lg-12">
              <div class="m-b-md">
                <h2>Leave Request</h2>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <dl class="row mb-0">
                <div class="col-sm-4 text-sm-right"><dt>First Name:</dt></div>
                <div class="col-sm-8 text-sm-left">
                  <dd class="mb-1"><%=@leave.user.first_name%></dd>
                </div>
              </dl>
              <dl class="row mb-0">
                <div class="col-sm-4 text-sm-right"><dt>Last Name:</dt></div>
                <div class="col-sm-8 text-sm-left">
                  <dd class="mb-1"><%=@leave.user.last_name%></dd>
                </div>
              </dl>
              <dl class="row mb-0">
                <div class="col-sm-4 text-sm-right"><dt>Email:</dt></div>
                <div class="col-sm-8 text-sm-left">
                  <dd class="mb-1"><%=@leave.user.email%></dd>
                </div>
              </dl>
              <dl class="row mb-0">
                <div class="col-sm-4 text-sm-right"><dt>Phone Number:</dt></div>
                <div class="col-sm-8 text-sm-left">
                  <dd class="mb-1"><%= @leave.user.phone_number %>
                  </dd>
                </div>
              </dl>
               <dl class="row mb-0">
                <div class="col-sm-4 text-sm-right"><dt>Leave Type:</dt></div>
                <div class="col-sm-8 text-sm-left">
                  <dd class="mb-1"><%= @leave.leave_type %>
                  </dd>
                </div>
              </dl>
               <dl class="row mb-0">
                <div class="col-sm-4 text-sm-right"><dt>Approval:</dt></div>
                <div class="col-sm-8 text-sm-left">
                  <dd class="mb-1"><%= User.find(@leave.approval_id).full_name %>
                  </dd>
                </div>
              </dl>
            </div>

            <div class="col-lg-6">
              <dl class="row mb-0">
                <div class="col-sm-4 text-sm-right"><dt>From Date:</dt></div>
                <div class="col-sm-8 text-sm-left">
                  <dd class="mb-1"><%=@leave.form_date%></dd>
                </div>
              </dl>
              <dl class="row mb-0">
                <div class="col-sm-4 text-sm-right"><dt>To date:</dt></div>
                <div class="col-sm-8 text-sm-left">
                  <dd class="mb-1"><%= @leave.to_date %></dd>
                </div>
              </dl>
                <dl class="row mb-0">
                <div class="col-sm-4 text-sm-right"><dt>Reason:</dt></div>
                <div class="col-sm-8 text-sm-left">
                  <dd class="mb-1"><%= @leave.reason %></dd>
                </div>
              </dl>
              <%if @leave.transport.present?%>
                </dl>
                  <dl class="row mb-0">
                  <div class="col-sm-4 text-sm-right"><dt>Reason:</dt></div>
                  <div class="col-sm-8 text-sm-left">
                    <dd class="mb-1"><%= @leave.transport %></dd>
                  </div>
                </dl>
              <%end%>

               </dl>
                <dl class="row mb-0">
                <div class="col-sm-4 text-sm-right"><dt>Status:</dt></div>
                <div class="col-sm-8 text-sm-left">
             <div>
                <span class="badge bg-<%= LeaveRequest::STATUS_COLORS[@leave.status] %>"><%= @leave.status %></span>
              </div>
                          
              </div>
              </dl>
            </div>
            <div>
         
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%if current_user.role == 'Teacher'|| 'SuperAdmin' && @leave.status != 'approved'%>
    <div class="col-lg-3">
    <div class="wrapper wrapper-content project-manager">
      <h4>Leave Approval Actions</h4>
      <div class="text-center m-t-md">
        <div class="row">
          <div class="col-lg-12">
            <%= button_to "Approve",
                update_status_leave_request_path(@leave, status: 'approved'),
                method: :patch,
                class: "btn btn-block btn-success m-b-sm" %>
          </div>
        </div>
      </div>
      
      <div class="text-center m-t-md mt-2">
        <div class="row">
          <div class="col-lg-12">
            <%= link_to update_status_leave_request_path(@leave, status: 'cancelled'), 
                method: :patch, 
                class: "btn btn-block btn-danger m-b-sm" do %>
              <i class="fa fa-times"></i> Cancel
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%end%>
</div>
</div>
